<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.project.servlet.admin.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/admin/LoginServlet</url-pattern>
    <url-pattern>/admin/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.project.servlet.admin.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/admin/system/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GroupServlet</servlet-name>
    <servlet-class>com.project.servlet.admin.GroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupServlet</servlet-name>
    <url-pattern>/admin/system/GroupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminProductServlet</servlet-name>
    <servlet-class>com.project.servlet.admin.AdminProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductServlet</servlet-name>
    <url-pattern>/admin/product/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminProductDiscountServlet</servlet-name>
    <servlet-class>com.project.servlet.admin.AdminProductDiscountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductDiscountServlet</servlet-name>
    <url-pattern>/admin/productdiscount/AdminProductDiscountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminCategoryServlet</servlet-name>
    <servlet-class>com.project.servlet.admin.AdminCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCategoryServlet</servlet-name>
    <url-pattern>/admin/category/AdminCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminReportServlet</servlet-name>
    <servlet-class>com.project.servlet.admin.AdminReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminReportServlet</servlet-name>
    <url-pattern>/admin/report/AdminReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminOrderServlet</servlet-name>
    <servlet-class>com.project.servlet.admin.AdminOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminOrderServlet</servlet-name>
    <url-pattern>/admin/order/AdminOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminBannerServlet</servlet-name>
    <servlet-class>com.project.servlet.admin.AdminBannerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminBannerServlet</servlet-name>
    <url-pattern>/admin/banner/AdminBannerServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>com.project.servlet.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/category</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductDetailServlet</servlet-name>
    <servlet-class>com.project.servlet.ProductDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetailServlet</servlet-name>
    <url-pattern>/productdetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CartSummaryServlet</servlet-name>
    <servlet-class>com.project.servlet.CartSummaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartSummaryServlet</servlet-name>
    <url-pattern>/cartsummary</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.project.servlet.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CartItemQtyServlet</servlet-name>
    <servlet-class>com.project.servlet.CartItemQtyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartItemQtyServlet</servlet-name>
    <url-pattern>/cartitemqty</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckoutSetupServlet</servlet-name>
    <servlet-class>com.project.servlet.CheckoutSetupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutSetupServlet</servlet-name>
    <url-pattern>/checkout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckoutServlet</servlet-name>
    <servlet-class>com.project.servlet.CheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutServlet</servlet-name>
    <url-pattern>/payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductListServlet</servlet-name>
    <servlet-class>com.project.servlet.ProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListServlet</servlet-name>
    <url-pattern>/products</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductListServlet2</servlet-name>
    <servlet-class>com.project.servlet.ProductListServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListServlet2</servlet-name>
    <url-pattern>/products2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.project.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DataFeed</servlet-name>
    <servlet-class>com.project.servlet.DataFeed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataFeed</servlet-name>
    <url-pattern>/DataFeed</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GuestOrderSearchServlet</servlet-name>
    <servlet-class>com.project.servlet.GuestOrderSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestOrderSearchServlet</servlet-name>
    <url-pattern>/guestOrderSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GuestOrderResultServlet</servlet-name>
    <servlet-class>com.project.servlet.GuestOrderResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestOrderResultServlet</servlet-name>
    <url-pattern>/guestOrderResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberLoginServlet</servlet-name>
    <servlet-class>com.project.servlet.MemberLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberLoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberLogoutServlet</servlet-name>
    <servlet-class>com.project.servlet.MemberLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberLogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderHistoryListServlet</servlet-name>
    <servlet-class>com.project.servlet.OrderHistoryListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderHistoryListServlet</servlet-name>
    <url-pattern>/history</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetImageFileServlet</servlet-name>
    <servlet-class>com.project.servlet.GetImageFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetImageFileServlet</servlet-name>
    <url-pattern>/GetImageFileServlet</url-pattern>
  </servlet-mapping>
   <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.project.servlet.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>I18nFilter</filter-name>
    <filter-class>com.project.servlet.I18nFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>I18nFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!--
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.project.servlet.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>ignore</param-name>
      <param-value>false</param-value>
    </init-param>
  </filter> -->
 <!--   <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error.jsp</location>
  </error-page> -->
  
</web-app>