@CHARSET "UTF-8";
.sidebar-nav {
    border-left: medium none;
    border-top: medium none;
    float: left;
    margin: 0;
    position: absolute;
    width: 240px;
}
.content {
    background: #fff none repeat scroll 0 0;
    border-left: 3px solid #999999;
    margin-left: 240px;
    min-height: 800px;
    min-width: 400px;
    position: relative;
}
