onsaleicon{width:50px;height:50px;line-height:50px;top:0px;right:0px;background-color:#e74c3c;backface-visibility:hidden;background-clip:padding-box;font-size:14px;color:#fff;text-align:center;display:block;overflow:hidden;z-index:1;position:absolute}
.onsaleicon.new{background-color:#fff;color:#323237}
.onsaleicon.hot{background-color:#323237}

.index-insta-header{padding:0px;margin:0;position:relative;display:table;margin:auto auto} 
.index-insta-line{display:inline-block;background-color:#000000;height:1px;width:40px;position:absolute;top:15px;}
.index-insta-header .index-insta-line:first-child{right:-65px}.index-insta-header .index-insta-line:last-child{left:-65px}

/*.menu-subcat a{background-color:blue;}
.menu-subcat a:hover{background:green; !important; color:yellow;}*/
/*HEADER MENU */
.newicon{width:30px;height:30px;line-height:30px;top:0px;right:0px;background-color:#e26a35;/*background-color:#e74c3c;*/backface-visibility:hidden;background-clip:padding-box;font-size:6pt;color:#fff;text-align:center;display:block;overflow:hidden;z-index:1;position:absolute;color:white;}							
.salesicon{width:30px;height:30px;line-height:30px;top:31px;right:0px;background-color:#e74c3c;/*background-color:#a52923;*/backface-visibility:hidden;background-clip:padding-box;font-size:6pt;color:#fff;text-align:center;display:block;overflow:hidden;z-index:1;position:absolute;color:white;}		
.salesicon2{width:30px;height:30px;line-height:30px;top:0px;right:0px;background-color:#e74c3c;/*background-color:#a52923;*/backface-visibility:hidden;background-clip:padding-box;font-size:6pt;color:#fff;text-align:center;display:block;overflow:hidden;z-index:1;position:absolute;color:white;}		
.topmenu-subcat span{display:inline-block;/*margin:5px 20px;*/border-bottom: 2px solid white;}
.topmenu-subcat span:hover{display:inline-block;text-decoration:none;border-bottom: 2px solid #E64D3C;}
.header-main-menu{font-size:10pt !important; font-weight:900 !important; color:white !important; }
#cosmeticMenu{background-color:black !important}

/*Product List Page */
input.input-box { background: white !important; }
input.input-box::-webkit-input-placeholder {color: #ffa180 !important; font-weight: bold; font-style: italic; font-size: 10pt;}
input.input-box:-moz-placeholder {color: #ffa180 !important; font-weight: bold;font-style: italic; font-size: 10pt;}
input.input-box::-moz-placeholder {color: #ffa180 !important; font-weight: bold;font-style: italic; font-size: 10pt;} 
input.input-box:-ms-input-placeholder {color: #ffa180 !important; font-weight: bold; font-style: italic; font-size: 10pt;}
.products-cat-li{border:none !important; padding:0 !important; margin:0 !important; padding:4px !important;}
.products-cat-li-parent{color: #ffa180; padding: 0 !important; margin:0 !important; padding:4px !important;}

/*Product Detail Page*/
.prod-detail-short-desc{color: #5c5c5c !important; font-size: 9pt;font-weight: bold !important;font-style: italic !important; padding-bottom:10px;}
.prod-detail-price-earlybird{font-size:9pt; margin:0;padding:0;}
.prod-detail-price-discount{background-color:#e26a35;color:white;padding-right:5px;padding-left:5px;font-size:11pt;}
.prod-detail-price{font-size:15pt; font-weight:bold; }
.prod-hr{margin:0;padding:0; width:30px;float:left;border-color:#e74c3c;border-width:2px}

@media only screen and (min-width:993px){
	.mega-dropdown1{width:1120px!important} 
	.mega-dropdown2{width:420px!important} 
	.mega-dropdown3{width:600px!important} 
	.mega-subcontent{float:left;width:150px;} 
	.mega-subcontent2{float:left;width:200px;} 
	.header-logo{/*top:25px;!important;*/margin-top:10px; } 
	.header-social-icon{top:-3px;!important;} 
	.menu-parent-style{min-width:80px;text-align:center;} 
	.subtagmenu-padding{display:block;padding-top:20px !important;padding-bottom:10px !important;padding-left:35px !important;}
	.submenu-padding{padding-top:10px !important; padding-left:35px !important; padding-bottom:10px !important; }
}
@media only screen and (max-width:993px){
	.header-logo{margin-top:8px;/*top:10px;!important;*/} 
	.index-main-slider{min-height:100px;!important; max-height:200px;!important} 
	.index-resp-container{padding:20px;!important!} 
	.header-height{min-height:45px;} 
	.brand-section{padding-bottom:45px} 
	.header-social-icon{top:-4px;!important;}
	.subtagmenu-padding{display:block;padding-left:15px !important; padding-top:10px !important;}
	.submenu-padding{padding-left:15px !important; padding-top:10px !important;} 
}
/*MOBILE ONLY */
@media screen and (max-width:767px){
	.footer-align{text-align:center} 
	.header-height{min-height:45px;} 
	.menu-parent-style{min-width:80px;} 
	.brand-section{padding-bottom:45px}
	.header-main-menu{text-align:center !important; }
	.topmenu-subcat{text-align:center !important; }
	#cosmeticMenu:hover{background-color:white !important}
	.resp-dropdown-btn {text-align:center !important; text-decoration: none; font-weight: bold; padding-top:5px; padding-bottom:5px;display: block;border: none;background: none;width: 100%;text-align: left;cursor: pointer;outline: none;}
	.resp-dropdown-content  {float: none;display: none;}
	.resp-arrow-right-black{ border: solid #231F20; border-width: 0 1px 1px 0; display: inline-block; padding: 6px; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); position: absolute; right: 200px; bottom: 15px; }
	.resp-arrow-bottom-black{ border: solid #231F20; border-width: 0 1px 1px 0; display: inline-block; padding: 6px; transform: rotate(45deg); -webkit-transform: rotate(45deg); position: absolute; right: 200px; }
	.resp-arrow-right-white{ border: solid white; border-width: 0 1px 1px 0; display: inline-block; padding: 6px; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); position: absolute; right: 200px; bottom: 15px; }
	.resp-arrow-bottom-white{ border: solid white; border-width: 0 1px 1px 0; display: inline-block; padding: 6px; transform: rotate(45deg); -webkit-transform: rotate(45deg); position: absolute; right: 200px; }
	
}
@media screen and (max-width:1024px){.header-topmenu{visibility:hidden;important!}}


/*@media (max-width:650px){.section-title .line{display:none}*/