<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>LoginFilter</filter-name>
  	<display-name>LoginFilter</display-name>
  	<description></description>
  	<filter-class>com.project.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<url-pattern>/LoginFilter</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>Testing</servlet-name>
  	<display-name>Testing</display-name>
  	<description></description>
  	<servlet-class>com.project.servlet.Testing</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductListServlet</servlet-name>
  	<display-name>ProductListServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.servlet.ProductListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductDetailServlet</servlet-name>
  	<display-name>ProductDetailServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.servlet.ProductDetailServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CartItemQtyServlet</servlet-name>
  	<display-name>CartItemQtyServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.servlet.CartItemQtyServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CartServlet</servlet-name>
  	<display-name>CartServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.servlet.CartServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CartSummaryServlet</servlet-name>
  	<display-name>CartSummaryServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.servlet.CartSummaryServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckoutServlet</servlet-name>
  	<display-name>CheckoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.servlet.CheckoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckoutSetupServlet</servlet-name>
  	<display-name>CheckoutSetupServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.servlet.CheckoutSetupServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.servlet.admin.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminCategoryServlet</servlet-name>
  	<display-name>AdminCategoryServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.servlet.admin.AdminCategoryServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminProductServlet</servlet-name>
  	<display-name>AdminProductServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.servlet.admin.AdminProductServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminReportServlet</servlet-name>
  	<display-name>AdminReportServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.servlet.admin.AdminReportServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminOrderServlet</servlet-name>
  	<display-name>AdminOrderServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.servlet.admin.AdminOrderServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GroupServlet</servlet-name>
  	<display-name>GroupServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.servlet.admin.GroupServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserServlet</servlet-name>
  	<display-name>UserServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.servlet.admin.UserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchServlet</servlet-name>
  	<display-name>SearchServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Testing</servlet-name>
  	<url-pattern>/Testing</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductListServlet</servlet-name>
  	<url-pattern>/products</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductDetailServlet</servlet-name>
  	<url-pattern>/productdetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CartItemQtyServlet</servlet-name>
  	<url-pattern>/cartitemqty</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CartServlet</servlet-name>
  	<url-pattern>/cart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CartSummaryServlet</servlet-name>
  	<url-pattern>/cartsummary</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckoutServlet</servlet-name>
  	<url-pattern>/payment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckoutSetupServlet</servlet-name>
  	<url-pattern>/checkout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/admin/</url-pattern>
  	<url-pattern>/admin/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminCategoryServlet</servlet-name>
  	<url-pattern>/admin/category/AdminCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminProductServlet</servlet-name>
  	<url-pattern>/admin/product/AdminProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminReportServlet</servlet-name>
  	<url-pattern>/admin/report/AdminReportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminOrderServlet</servlet-name>
  	<url-pattern>/admin/order/AdminOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GroupServlet</servlet-name>
  	<url-pattern>/admin/system/GroupServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserServlet</servlet-name>
  	<url-pattern>/admin/system/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchServlet</servlet-name>
  	<url-pattern>/search</url-pattern>
  </servlet-mapping>
</web-app>
